
p{font-family:Arial, Geneva, sans-serif;}

td.centered {
text-align: center
}

.rank3 {
background-color: #a0ba42; 
}
.rank2 {
background-color: #ffce00; 
}
.rank1 {
background-color: #860e25; 
}
.rankc {
background-color: #beb69f;
}
.ranko {
background-color: #9fa0a3; 
}

.posAC {
background-color: #9fa0a3;
}
